.icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &.small {
        font-size: 12px;
    }

    &.medium {
        font-size: 16px;
    }

    &.large {
        font-size: 24px;
    }
}